body {
    margin: 0%;
    font-family: var(--font);
    line-height: 1.55;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    min-height: 100vh;
}
.divisor{
    border: none;
    border-top: 1px solid #E2E8F0;
    margin: 5% 0 5% 0;
    width: 80%;
}
input{
    font-family: var(--font);
}
button{
    font-family: var(--font);
}
.container-cad-log{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #F8F8FF;
}

.bloqueio {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--bg)20%, var(--primary)100%);
    box-shadow: -10px 0px 50px 2px var(--primary);
    transition: transform 0.5s ease-in-out;
    clip-path: inset(0);
}

.bloqueio-formas {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    overflow: hidden;

}
.forma {
    position: absolute;
    opacity: 0.1;
    animation: flutuar linear infinite;

}

@keyframes flutuar {
    0% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY(-100vh) rotate(360deg); }
}